@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

a {
  text-decoration: none;
}

.botaoVoltar:hover,
.botaoVoltar:active,
.botaoVoltar:checked,
.botaoVoltar:focus {
  background-color: rgba(254, 154, 4, 0.6);
  border: 5px solid #ff7000;
  text-align: center;
}

.botaoVoltar {
  background-color: #ff7000;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 25px;
  margin: auto;
}
