<section class="container">
    <div class="d-flex justify-content-center mt-3">
        <div class="card border-dark mb-3">
            <div class="card-header bg-transparent text-center">
                <div>
                    <div class="row">
                        <div class="col text-start">12/07/2021</div>
                        <div class="col text-center">ProWay Bank</div>
                        <div class="col text-end">10:00:00</div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center py-1">COMPROVANTE DE TRANSFERÊNCIA BANCÁRIA</h5>
                <hr />
                <p class="card-text fw-bold"><i class="fas fa-money-check-alt"></i> ORIGEM</p>
                <p class="fw-bold">Nome: <span class="fw-normal">Fulaninho de tal</span></p>
                <p class="fw-bold">Agência: <span class="fw-normal">0001</span></p>
                <p class="fw-bold">Conta: <span class="fw-normal">13212313</span></p>
                <p class="fw-bold">Banco: <span class="fw-normal">ProWay Bank</span></p>
                <hr />
                <p class="card-text fw-bold"><i class="fas fa-money-check-alt"></i> DESTINO</p>
                <p class="fw-bold">Nome: <span class="fw-normal">Ciclano Beltrano</span></p>
                <p class="fw-bold">Agência: <span class="fw-normal">0001</span></p>
                <p class="fw-bold">Conta: <span class="fw-normal">1213121332</span></p>
                <p class="fw-bold">Banco: <span class="fw-normal">Banco Laranja</span></p>
                <hr />
                <p class="card-text fw-bold"><i class="fas fa-dollar-sign"></i> VALOR: <span
                        class="fw-normal">R$50,00</span></p>
            </div>
            <div class="card-footer bg-transparent">
                <p class="fw-bold text-center">Código de autenticação</p>
                <p class="text-center">2131hiu312.1321i32uh1.13hu1h23iu123</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md my-2 mx-3 d-flex justify-content-center">
                <i role="button" id="btnImprimir" data-bs-toggle="modal" data-bs-target="#modalImprimir"
                    class="fas fa-save fa-4x btnAcao"></i>
            </div>
            <div class="col-md my-2 mx-3 d-flex justify-content-center">
                <i role="button" id="btnCompartilhar" data-bs-toggle="modal" data-bs-target="#modalCompartilhar"
                    class="fas fa-share-alt fa-4x btnAcao"></i>
            </div>
            <div class="col-md my-2 mx-3 d-flex justify-content-center">
                <i role="button" id="btnFavoritar" data-bs-toggle="modal" data-bs-target="#modalFavoritar"
                    class="fas fa-star fa-4x btnAcao"></i>
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button id="btnVoltar" type="button" class="btn btn-outline-warning my-3 botaoVoltar">Voltar</button>
    </div>
</section>

<!-- Modal Imprimir -->
<div class="modal fade" id="modalImprimir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Salvar Comprovante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-evenly">
                <i role="button" id="imprimirImpressora" class="fas fa-print fa-3x imprimir" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Imprimir comprovante"></i>
                <i role="button" id="imprimirPdf" class="far fa-file-pdf fa-3x imprimir" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Salvar em PDF"></i>
                <i role="button" id="imprimirDrive" class="fab fa-google-drive fa-3x imprimir" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Salvar no Google Drive"></i>
                <i role="button" id="imprimirDropbox" class="fab fa-dropbox fa-3x imprimir" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Salvar no DropBox"></i>
            </div>
        </div>
    </div>
</div>
<!-- Modal Compartilhar -->
<div class="modal fade" id="modalCompartilhar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Compartilhar Comprovante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-evenly">
                <i role="button" id="compartilharEmail" class="far fa-envelope fa-3x compartilhar"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartilhar por e-mail"></i>
                <i role="button" id="compartilharWhatsapp" class="fab fa-whatsapp fa-3x compartilhar"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartilhar no WhatsApp"></i>
                <i role="button" id="compartilharTelegram" class="far fa-paper-plane fa-3x compartilhar"
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Compartilhar no Telegram"></i>
            </div>
        </div>
    </div>
</div>
<!-- Modal Favoritar-->
<div class="modal fade" id="modalFavoritar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comprovante adicionado aos favoritos!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>