<header class="container-fluid">
    <div class="row">
        <div class="row col-12 div-logo d-flex align-items-center">
            <span class="col-4"></span>
            <div class="col-4 d-flex justify-content-center">
                <img class="div-logo" src="../../../assets/img/img-logo-bank.png" alt="" srcset="">
            </div>
            <div class="col-4 d-flex justify-content-end user">
                <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <img src="../../../assets/img/user.png" alt="">
                </a>
            </div>
        </div>
        <div *ngIf="nomePg != 'pix'" class="nomePaginas d-flex justify-content-center align-items-center p-1 mb-1">
            <span class="texto"> {{ nomePg }} </span>
        </div>
        <div *ngIf="nomePg == 'pix' " class="nomePaginas d-flex justify-content-start align-items-center p-1 mb-1">
            <img src="../../../assets/img/img-icon-pix.png" alt="">
        </div>
    </div>
    <section class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
            <nav>
                <ul class="p-0">
                    <a routerLink="/">
                        <li>Home</li>
                    </a>
                    <a href="">
                        <li>Saldo</li>
                    </a>
                    <a href="">
                        <li>Transferência</li>
                    </a>
                    <a href="">
                        <li>Investimento</li>
                    </a>
                    <a href="">
                        <li>Previdência</li>
                    </a>
                    <a href="">
                        <li>Fale Conosco</li>
                    </a>
                    <a href="">
                        <li>Sair</li>
                    </a>
                </ul>
            </nav>
        </div>
    </section>
</header>