header {
    background-image: url("../../../assets/img/fundo-abstrato-web.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 25vh;
}
.div-logo img {
    width: 10rem;
}

.nomePaginas{
    background-color: #ff7000;
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
    min-height: 50px;
    text-align: center;
}

.user img{
    width: 50px;
    height: 50px;
}

.offcanvas{
    width: 300px;
    background-color: rgb(228, 218, 186);
}

.offcanvas nav ul{
    width: 100%;
}
.offcanvas nav ul a{
    text-decoration: none;
    color: black;
}
.offcanvas nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
}

.offcanvas nav ul li:hover{
    background-color: rgb(201, 197, 197);
}