<article *ngIf="contato" class="item-contact col-12 row pb-3">
    <hr>
    <div class="col-4 info-contacts-name">
        <span class="nome"> {{contato.nome}} </span>
    </div>
    <div class="col-4 info-contacts-key">
        <span class="chave">Chave PIX {{ contato.numeroPix }}</span>
    </div>
    <div class="col-4 info-contacts-img">
        <i class="fa fa-trash fa-3x" aria-hidden="true" (click)="open()" ></i>
    </div>
</article>