.box-filtro{
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 1em #c9c9c9;
}

.p-filtro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.filtro-div-1{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.filtro-div-2{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

#filtro-periodo{
    background-color: #c9c9c9;
    border-radius: 20px;
    width: 200px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    padding: 5px;
}

.div-button{
    display: flex;
    justify-content: flex-end;
}

#button-buscar{
    margin-top: 10px;
    margin-right: 40px;
}