<!--filtro comprovantes-->
<section class="container">
    <div class="row">
        <div class="col-lg-6 col-12 box-filtro">
            <p class="p-filtro">Comprovantes dos ultimos 24 meses</p>
            <hr>
            <p class="p-filtro">Filtrar por:</p>

            <div class="filtro-div-1">
                <label for="filtro-periodo">Período:</label>
                <select name="filtro-periodo" id="filtro-periodo" #periodo>
                    <option value="1">Últimos 30 dias</option>
                    <option value="2">Últimos 3 meses</option>
                    <option value="3">Últimos 6 meses</option>
                    <option value="4">Últimos 12 meses</option>
                    <option value="5">Últimos 24 meses</option>
                </select>
            </div>
            <div class="filtro-div-2">
                <label for="filtro-operacao">Tipo de operação:</label>
                <select name="filtro-operacao" id="filtro-periodo"  #operacao>
                    <option value="1">Todas as operações</option>
                    <option value="2">TED - Agendamento</option>
                    <option value="3">DOC - Agendamento</option>
                    <option value="4">PIX - Transferência</option>
                </select>

            </div>
            <div class="div-button">
                <button id="button-buscar" type="button" class="btn btn-secondary" (click)="trocar(operacao.value, periodo.value)" >Ok</button>
            </div>
        </div>
        <div class="col-lg-6 col-0"></div>
        <app-tabela-comprovantes [comprovantes]="comprovantes" ></app-tabela-comprovantes>
    </div>
</section>