<section id="sessao-principal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12">
                <!--Dados para transferência-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12"
                            style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                            <p style="margin-top: 10px;">Valor da transferência:</p><b>R$ 120</b>
                            <p class="font-weight-bold" style="font-size: 20px" id="transferencia"> </p>
                        </div>

                        <div class="col-lg-4 col-12"></div>
                        <div class="col-lg-4 col-12"
                            style="display: flex; flex-direction: column; position: relative; text-align: center; margin-bottom: 10px">
                            <span></span>
                        </div>
                        <div class="col-lg-4 col-12"></div>
                        <div class="col-lg-4 col-12"></div>
                        <div class="col-lg-4 col-12"
                            style="position: relative; text-align: center; display: flex; flex-direction: column">
                            <span>Para</span>
                            <span class="font-weight-bold">Nome: Fulano de Tal</span>
                            <span>CPF: ***.121.987.***</span>
                            <span>Banco: 001 BANCO DO BRASIL S.A (BB)</span>
                            <span>Celular: (00) 00000-0000</span>
                        </div>
                        <div class="col-lg-4 col-12"></div>
                    </div>
                </div>

                <!--Button-->
                <div class="row">
                    <div class="col-lg-12 col-12" style="display: flex; justify-content: center; margin-top: 20px">
                        <button type="submit" class="btn btn-outline-warning"
                            onclick="confirmarTransfer()">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

