  <div class="container ">
        <div class="row row-cols-md-2 mt-5 ">
           <a routerLink="/pix-inicial"> 
            <div class="col d-flex justify-content-center btnPix ">
                <button id="btn-trans" type="button" class="btn btn-primary btn-lg mb-5 mx-5">PIX</button>
            </div>
           </a>
           <a routerLink="/transferencia-ted-doc">
            <div class="col d-flex justify-content-center"> 
                <button id="btn-trans" type="button" class="btn btn-primary btn-lg mb-5 mx-5">Transferir</button>
            </div>
            </a>
            <a routerLink="/contatos-pix">
            <div class="col d-flex justify-content-center">
                <button id="btn-trans" type="button" class="btn btn-primary btn-lg mb-5 mx-5">Contatos</button>
            </div>
            </a>
            <a routerLink="/meus-comprovantes">
            <div class="col d-flex justify-content-center">
                <button id="btn-trans" type="button" class="btn btn-primary btn-lg mb-5 mx-5">Comprovantes</button>
            </div>
        </a>
        </div>
    </div>
    <div class="container col d-flex justify-content-center mt-5">
        <div class="row mt-5">
          <div class="col ">
            <button type="button" id="bt-voltar" class="btn btn-primary btn-lg mb-5 mx-5">Voltar</button>
          </div>
        </div>
     </div>
