#bt-voltar{
    background-color: #ff7000;
    border-radius: 0.7rem;
    border: none;
    width: 10rem;
    height: 4rem;
}

#btn-trans{
    background-color: #ff7000;
    width: 20rem;
    height: 7rem;
    border-radius: 1rem;
    border: none;
    
    -webkit-box-shadow: 5px 8px 25px -9px #000000; 
    box-shadow: 5px 8px 25px -9px #000000;
    font-size: 1.9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#btn-trans:hover, #bt-voltar:hover{
    background-color: #6d7575dc;
    color: #ff7000;
}

a{
    text-decoration: none;
}
