
#t-center{
    text-align: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.example-card {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    border: 1px solid #CFD8DC; 
    border-radius: 4px 3px 6px / 2px 4px; 
    margin-top:20%;
    margin: 1px;
   
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
 
  .button{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    background-color: orange;

  }

  mat-card-title{
    align-items: center;
    text-align: center;
  }