<!--div id="divisaoTranCons">
    <div class="telaSelecaoTrans">
        <h2>Transferir</h2>
        <ul>
            <li>
                <a href="enviar-pix.html"><button type="button" class="btn btn-outline-warning">
                        Transferir<img src="../assets/img/logoTransferir.svg" alt="Logo de Transferir" /></button></a>
            </li>
            <li>
                <a href="./QrCode.html"><button type="button" class="btn btn-outline-warning">
                        Pagar com <br />
                        Code<img src="../assets/img/logoQR.svg" alt="Logo do QR Code" /></button></a>
            </li>
        </ul>
    </div>
    <div class="telaSelecaoCons">
        <h2>Consultas</h2>
        <ul>
            <li>
                <button type="button" class="btn btn-outline-warning button1">
                    Chaves Pix<img src="../assets/img/logoChave.svg" alt="Logo de Transferir" />
                </button>
            </li>
            <li>
                <a href="./comprovante-pagamento.html"><button type="button" class="btn btn-outline-warning button2">
                        Extrato<img src="../assets/img/logoExtrato.svg" alt="Logo de Transferir" /></button></a>
            </li>
            <li>
                <a href="./meus-comprovantes.html"><button type="button" class="btn btn-outline-warning button3">
                        Comprovantes<img src="../assets/img/logoComprovantes.svg"
                            alt="Logo de Transferir" /></button></a>
            </li>
        </ul>
    </div>
</div> -->


<div id="t-center" class="container">
  <div class="row mt-5">
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Transferências</mat-card-title>

        </mat-card-header>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>


          <button routerLink="/qrcode" mat-raised-button class=" mb-2 button" color="warn">
            <mat-icon>qr_code_2</mat-icon> QR Cod
          </button>


          <button routerLink="/transferencia-ted-doc" mat-raised-button class="mb-2 mx-2 button" color="warn">

            <mat-icon>sync_alt</mat-icon> Transferir

          </button>

        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title>Consultas</mat-card-title>

        </mat-card-header>

        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>


          <button  mat-raised-button class=" mb-2 button" color="warn">
            <mat-icon>receipt_long</mat-icon> Extrato
          </button>

          <button routerLink="/meus-comprovantes" mat-raised-button class="mb-2 mx-2 button " color="warn">
            <mat-icon>request_quote</mat-icon> Comprovantes

          </button>

        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>
