<section id="sessao-principal" class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-12">
                <section class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-12" style="display: flex; justify-content: center">
                            <div class="col-md-3 form-group left-inner-addon">
                                <select id="inputState" value="tipoTransferencia" class="form-control mt-4"  [(ngModel)]="selection" (onchange)="Choose(selection)"  style="text-indent: 20px">
                                    <option value="" disabled>Escolha o tipo de transferência</option>
                                    <option *ngFor="let tipoTransferencia of tiposTransferencias" >{{ tipoTransferencia }}</option>
                                </select>
                                <form [formGroup]="formPix" (ngSubmit)="onSubmit()">                               
                                <div *ngIf="selection == 'PIX'">
                                    <div class="col-md-12 form-group left-inner-addon">
                                        <i class="fas fa-university"></i>
                                        <input  formControlName="pix" class="form-control" placeholder="Digite a chave pix aqui"/>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
           
                <form [formGroup]="formularioTransferencia" class="row g-3"  (ngSubmit)="onSubmit()" >
            <div *ngIf="selection != 'PIX'">
                <!-- Select option -->
                <section class="container-fluid" >
                    <div class="row">
                        <div class="col-lg-12 col-12" style="display: flex; justify-content: center">
                            <div class="col-md-3 form-group left-inner-addon">
                                <i class="fas fa-piggy-bank"></i>
                                <select id="inputState" value="banco" class="form-control" formControlName="banco"   style="text-indent: 20px" >
                                    <option value="" disabled>Escolha o banco</option>
                                    <option *ngFor="let banco of bancos">{{ banco }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Input Agência-->
                <section class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div style="display: flex; justify-content: center">
                                <div class="col-md-3 form-group left-inner-addon">
                                    <i class="fas fa-university"></i>
                                    <input type="number" value="agencia"  formControlName="agencia" class="form-control" placeholder="Agência" name="agencia"
                                        style="text-indent: 10px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--Input Conta-->
                <section class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-12"
                            style="display: flex; justify-content: center; margin-bottom: 10px">
                            <div class="col-md-2">
                                <input type="number" value="conta"  formControlName="conta" class="form-control" placeholder="Conta" name="conta"  />
                            </div>
                            <!-- Input de digito -->
                            <div class="col-md-1">
                                <input type="number" value="digito" formControlName="digito" class="form-control" placeholder="Digito" name="digito"  />
                            </div>
                        </div>
                    </div>
                </section>
               
                <!--Input CPF-->
                <section class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-12" style="display: flex; justify-content: center">
                            <div class="col-md-3 form-group left-inner-addon">
                                <i class="fas fa-id-card"></i>
                                <input type="text" value="cpf" formControlName="cpf" maxlength="11" class="form-control" name="cpf"  
                                     placeholder="CPF apenas números" style="text-indent: 20px" />
                            </div>
                        </div>
                    </div>
                </section>
   
                <!--Input Valor-->
                <section class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-12"
                            style="display: flex; justify-content: center; margin-bottom: 10px">
                            <div class="col-md-3 form-group left-inner-addon" >
                                <i class="far fa-money-bill-alt"></i>
                                <input type="text" value="valor"  formControlName="valor" class="form-control" placeholder="Valor" value="valor" name="valor"  style="text-indent: 10px" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
                <!--Button-->
                <section class="container-fluid">
                    <div class="row">
                        <div style="position: relative; text-align: center; margin-top: 10px; margin-bottom:2rem">
                            <button type="submit" class="btn btn-outline-warning" [disabled]=" selection == 'PIX'? formPix.invalid: formularioTransferencia.invalid || formularioTransferencia.pristine">
                                <i class="fas fa-hand-holding-usd"></i>
                                Transferir                                
                            </button>                             
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
    
</section>
