<section class="d-flex flex-column" style="height: 100vh;">
  <header>
    <app-header></app-header>
  </header>

  <main class="flex-grow-1">
    
    <div id="page" class="routeContainer" [@routeAnimation]="getDepth(myOutlet)">
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
   
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</section>
