<div class="table-responsive">
    <table class="box-filtro table table-striped table-hover table-bordered mt-5">
        <thead>
            <tr class="">
                <th class="p-3">Data</th>
                <th class="p-3">Tipo de Operação</th>
                <th class="p-3">Valor R$</th>
                <th class="p-3">Identificação</th>
                <th class="p-3">Consulta</th>
                <th class="p-3">Envio por email</th>
            </tr>
        </thead>
        <tbody *ngIf="comprovantes.length != 0">
            <tr *ngFor="let comp of comprovantes">
                <td class="p-3">{{comp.data | date: 'dd/MM/yyyy'}}</td>
                <td class="p-3">{{ comp.operacao }}</td>
                <td class="p-3">{{ comp.valor | currency: 'BRL' }}</td>
                <td class="p-3"> {{ comp.identificacao }} </td>
                <td class="p-3"><a routerLink="/meus-comprovantes" >visualizar</a></td>
                <td class="p-3"><a routerLink="/home" >enviar</a></td>
            </tr>
        </tbody>
        <tbody *ngIf="comprovantes.length == 0">
            <tr>
                <td class="p-3 text-center" colspan="6" > Nenhum registro encontrado</td>
            </tr>
        </tbody>
    </table>
</div>