body{
    margin: 0;
    padding: 0;
}

/*Configuração da div pix e div da barra laranja*/
#faixa-pix{
    background-color: #FF7000;
    width: 100%;
    height: 25%;
}

/*Configuração da span que está dentro da div*/
#span-pix{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    position: relative;
    color: #ffffff;
    vertical-align: middle;
}
/* menu lateral*/

/*Configuração da span que está dentro da div*/
#span-pix {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 230%;
    position: relative;
    color: #ffffff;
    vertical-align: middle;
}

/*Configuração das section gerais*/
section {
    display: block;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    margin-top: 10px;
}

#paragrafo-section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;

    margin-bottom: 87px;
}

/*Botão colar codigo*/
.ColarCodigo {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: bolder;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
::placeholder {
    text-align: center;
}

/*Configuração da section tela transação*/

#sessao-botoes-menores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sessao-botoes-maiores {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

button {
    background-color: #ffffff;
    transition-duration: 0.4s;
}

button:hover {
    color: white;
    background-color:rgb(144, 238, 144);
  
}

/*Configuração dos botões grande da tela de transação*/
button.botoes-grandes {
    /* background-color: #ffffff; */
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 100px;
    vertical-align: bottom; /*deixa os botões alinhados*/
    margin: 10px 10px;
    border: 1px solid #ff7000;
    border-radius: 12px; /*deixa os botões arredondados*/
}

/*Configuração dos botões menores da tela de transação*/
button.botoes-menores {
    border: 1px solid #ff7000;
    width: 160px;
    height: 40px;
    text-align: center;
    margin-top: -2px;
    border-radius: 12px; /*deixa os botões arredondados*/
}

.botoes-grandes:active,
.botoes-menores:active {
    border: 1px solid black;
}

/*Configurações dos links*/
a {
    text-decoration: none;
    color: #000000;
}

img#img-qr-code {
    border-radius: 10px; /*deixa a borda arredondada*/
}

#paragrafo-rodape {
    text-align: center;
}
/*Configuração do rodapé*/
footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* botão de confirmar codigo pix */
#Botconfi {
    color: black;
    font-weight: bold;
}

/* campo senha eletronica*/

#SenhaEletronica {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    font-weight: bold;
}


