<section class="container-fluid">
    <img src="../assets/img/img-qrcode.png" id="img-qr-code" />
</section>

<section class="container-fluid">
    <p id="paragrafo-section">
        Centralize o QR Code para<br>efetuar o pagamento!
    </p>
    <div class="ColarCodigo">
       <form >
        <label for="formGroupExampleInput" class="form-label">Codigo pix</label>
        <input (keyup)="onKeyUp($event)" type="text"  class="form-control" id="formGroupExampleInput" placeholder="Colar código pix ">
        
    </form>
    </div><br>

    <button id="Botconfi" type="button" class="btn btn-outline-success" (click)="valida()"> <svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path
                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
            <path
                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />

        </svg> Confirmar</button>
</section><br>