<section class="container mt-4">

    <div class="container-fluid mb-5">

        <section class="d-flex flex-column align-items-center">
            <div class="rdButton">
                <input class="form-check-input" id="selecionar1" name="selecionar" value="0" type="radio" [(ngModel)]="valor" checked > Inserir uma descrição
            </div>
            <div [hidden]="valor != '0'" class="desc mt-2" >
                <input [hidden]="valor != '0'" type="text" class="form-control" id="formGroupExampleInput " placeholder="Inserir descrição ">
            </div>
            <div class="rdButton">
                <input class="form-check-input" id="selecionar1" name="selecionar" value="1" type="radio" [(ngModel)]="valor"  > Continuar sem descrição
            </div>
        </section>
    </div>


    <div id="SenhaEletronica">
        <p>Senha eletrônica</p>
        <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Insira sua senha de 8 digitos ">
        <a>
            <button id="Botconfi" type="submit" class="btn btn-outline-success mt-2">
            <svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16 ">
                    <path
                        d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z " />
                    <path
              d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
            </svg> Confirmar</button>
        </a>
    </div>
</section>
