#faixa-pix {
    background-color: #FF7000;
    width: 100%;
    height: 25%;
}


/*Configuração da span que está dentro da div*/

#span-pix {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32pt;
    position: relative;
    color: #ffffff;
    vertical-align: middle;
}


/* menu lateral/

::placeholder {
    text-align: center;
}

img#img-qr-code {
    border-radius: 10px;
    /deixa a borda arredondada/
}


/ campo senha eletronica*/

#SenhaEletronica {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    font-weight: bold;
}

#selecionar1 {
    text-align: center;
    font-style: normal;
    margin: 1%;
    align-content: center;
}

#selecionar2 {
    text-align: center;
    font-style: normal;
    margin: 1%;
    align-content: center;
}

#SenhaEletronica {
    border-radius: 200rem;
    font-weight: bold;
}

.hide {
    display: none;
}

.rdButton{
    width: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    width: 500px;
}