  <div id="t-center" class="container mb-5">
    <div class="row">
      <div class="col">
        <h1 id="">selecione o tipo de chave que será usada </h1>
        <select (change)="opcao($event)" [(ngModel)]="valor2" class="form-select form-select-lg mb-3 "
          aria-label=".form-select-lg example">
          <option *ngFor="let value of values">{{value.nome}}</option>
        </select>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <input *ngIf="valor2 == 'cpf' || valor2 == 'celular' " [(ngModel)]="valor1" class="form-control"
              type="number" placeholder="Default input" aria-label="default input example">
            <input *ngIf="valor2 =='chave aleatoria'" [(ngModel)]="valor1" class="form-control" type="text"
              placeholder="Default input" aria-label="default input example">
            <input *ngIf="valor2 =='email'" [(ngModel)]="valor1" class="form-control" type="email"
              placeholder="Default input" aria-label="default input example">
              <div class="alert alert-danger mt-2 {{none}}" role="alert">
                Valor invalido
              </div>
          </div>
  
        </div>
      </div>
      <div id="t-center" class="container mt-5">
        <div class="row justify-content-center">
          <div class="col">
            <button type="button" class="btn btn-warning">Selecionar Contato</button>
          </div>
        </div>
      </div>
      <div id="t-center" class="container mt-5">
        <div class="row justify-content-center">
          <div class="col">
            <button (click)="apertou()" type="button" class="btn btn-warning">Prosseguir</button>
          </div>
        </div>
      </div>
    </div>
</div>

    <!-- 
    
  <div class="container">
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
      </div>
    </div>
    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
          </div>
    </div>
  </div>




 -->
