<div class="modal-header">
    <h5 class="modal-title">Deletar Contato</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    Deseja deletar o(a) {{contato.nome}}?
</div>
<div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-secondary button-contact-opt" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-outline-secondary button-contact-opt" (click)="deletarContato()">Deletar</button>
</div>