<section class="container mt-2">
    <div class="row">
        <div class="col-lg-4 col-12">
            <form id="search-form">
                <input type="text" id="search-input" name="search" placeholder="busque por nome, cpf/cnpj, chave pix" #nomePesquisa/> 
                <img src="../../../assets/img/search.png" id="search-img" alt="" (click)="pesquisarContato(nomePesquisa.value)"  >
            </form>
        </div>
        <div class="col-lg-8 col-12 div-options-contact">
            <button type="button" class="btn btn-outline-secondary button-contact-opt" data-bs-toggle="modal" data-bs-target="#addContato" (click)="atualizar = false; limparInputs()" >
                Adicionar Contato <i class="fas fa-plus-circle"></i>
            </button>
            <button type="button" class="btn btn-outline-secondary button-contact-opt">
                Editar Contato <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
        </div>

        <section class="modal fade" id="addContato" tabindex="-1" aria-labelledby="addContatoLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 *ngIf="atualizar == false" class="modal-title" id="addContatoLabel">Adicionando contato</h5>
                  <h5 *ngIf="atualizar" class="modal-title" id="addContatoLabel">Atualizando contato</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="success-class" class="alert alert-success {{ alertSuccess }}" role="alert">
                        Contato adicionado com sucesso
                    </div>
                    <div id="success-class" class="alert alert-success {{ alertSuccessEdit }}" role="alert">
                        Contato atualizado com sucesso
                    </div>
                    <div id="erro-class" class="alert alert-danger {{ alertDanger }}" role="alert">
                        Preencha todos os dados
                    </div>
                    <div id="conflito-class" class="alert alert-warning {{ alertWarning }}" role="alert">
                        Esse contato já existe
                    </div>
                    <div class="mb-3">
                        <label for="nomeContato" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nomeContato" [(ngModel)]="contato.nome">
                    </div>
                    <div class="mb-3">
                        <label for="pixContato" class="form-label">Número pix</label>
                        <input type="text" class="form-control" id="pixContato" [(ngModel)]="contato.numeroPix">
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-secondary button-contact-opt" data-bs-dismiss="modal" id="sair">Sair</button>
                    <button *ngIf="atualizar == false" type="button" class="btn btn-outline-secondary button-contact-opt" id="salvarContato" (click)="salvarContato()" >Salvar contato</button>
                    <button *ngIf="atualizar" type="button" class="btn btn-outline-secondary button-contact-opt" id="salvarContato" (click)="atualizarContato(contato)" >Atualizar contato</button>
                </div>
              </div>
            </div>
        </section>                  
    </div>
</section>

<section class="container contact-info-section">
    <div class="row">
        <div class="col-12">
            <p class="contato-p">Contatos</p>
        </div>

        <section class="itens-contact col-sm-12 col-md-6">
            <table style="width: 100%;" class="novaTabela table table-hover">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let contato of contatos">
                      <td class="col-3 info-contacts-name" > {{contato.nome}} </td>
                      <td class="col-3 info-contacts-key" > Chave Pix <br> {{contato.numeroPix}} </td>
                      <td class="col-3 info-contacts-img" ><i class="fas fa-edit fa-3x" data-bs-toggle="modal" data-bs-target="#addContato" (click)="abreModalContato(contato)" ></i></td>
                      <td class="col-3 info-contacts-img" > <i class="fa fa-trash fa-3x" aria-hidden="true" (click)="open(content, contato)" ></i></td>
                    </tr>                   
                  </tbody>
            </table>
        </section>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h5 class="modal-title">Deletar Contato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"  (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                Deseja deletar o(a) {{contatoDel.nome}}?
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-outline-secondary button-contact-opt" (click)="modal.dismiss('Close click')">Cancelar</button>
                <button type="button" class="btn btn-outline-secondary button-contact-opt" (click)="deletar(contatoDel.id)" >Deletar</button>
            </div>
        </ng-template>
    </div>
</section>