#search-form{
    margin-top: 30px;
    border: 3px solid #FF7000;
    border-radius: 5px;
}

#search-input{
    vertical-align: middle;
    width: 88%;
    border: 1px solid #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15pt;
}

#search-input:hover{
    border: 1px solid #fff;
}

#search-input:focus{
    outline: none !important;
    border: 1px solid #fff;
    caret-color: #000;
}

#search-img{
    margin-right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*===============================================*/

.div-options-contact{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.contact-info-section{
    margin-top: 40px;
}

.contato-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
}

.nome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}

.chave{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.div-add-contact{
    text-align: center;
}

.span-add-contact{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.info-contacts-name{
    text-align: start;
}    

.info-contacts-key{
    text-align: start;
}

.info-contacts-img{
    text-align: end;
    cursor: pointer;
}

.button-contact-opt {
    width: 45%;
    border-radius: 20px 20px;
    margin-right: 1rem;
}

.button-contact-opt:hover {
    color: #fff;
}